__tests__/
node_modules/

.babelrc
jest.config.js
LICENSE

*.d.ts
*.md

/e2e/
/packages/generator/
/packages/typings/
/scripts/

/.eslintrc
/.gitignore
/.gitlab-ci.yml
/.prettierc
/babel.config.js
/tsconfig.json
