name: Fetch

on:
  workflow_dispatch:
  schedule:
    - cron: "00 12 * * *"

permissions:
  contents: write
  id-token: write

jobs:
  fetch:
    name: Fetch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.17.0'
          cache: yarn

      - name: Update npm (required for npm trusted publishing)
        run: npm install -g npm@latest

      - name: Installing
        run: yarn --frozen-lockfile --perfer-offline --link-duplicates

      - name: Deploy to npm
        env:
          NPM_CONFIG_LOGLEVEL: verbose
        run: npm publish
