name: Fetch

on:
  workflow_dispatch:
  schedule:
    - cron: "00 12 * * *"

permissions:
  contents: write
  id-token: write  # Required for OIDC token generation

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.17.0'
          cache: yarn

      - name: Update npm (required for npm trusted publishing)
        run: npm install -g npm@latest

      - name: Installing
        run: yarn --frozen-lockfile --perfer-offline --link-duplicates

      - uses: EndBug/add-and-commit@v9
        if: ${{ steps.metadata.outputs.data_status }}
        env:
          HUSKY: "0"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          add: "data"
          author_name: ${{ secrets.SOCIALGROOVYBOT_NAME }}
          author_email: ${{ secrets.SOCIALGROOVYBOT_EMAIL }}
          message: "feat(data): ${{ steps.metadata.outputs.now }} update"

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@ba330626c4750c19d8299de843f05c7aa5574f62
        with:
          semantic_version: 25.0.1
          extra_plugins: |
            @semantic-release/changelog@6.0.3
            @semantic-release/exec@7.1.0
            @semantic-release/git@10.0.1
        env:
          GIT_AUTHOR_EMAIL: ${{ secrets.SOCIALGROOVYBOT_EMAIL }}
          GIT_AUTHOR_NAME: ${{ secrets.SOCIALGROOVYBOT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.SOCIALGROOVYBOT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.SOCIALGROOVYBOT_NAME }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: mattermost/action-mattermost-notify@master
        if: failure()
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          TEXT: |
            La mise à jour du dépôt kali-data a échoué.
            [Les logs sont disponibles ici](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
